@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #824FE7; 
  --primary-color-light: rgba(130, 79, 231, 0.7); 
  --error-color: #ff4d4f; 
  --error-color-light: rgba(255, 77, 79, 0.7); 
  --text-color-grey: #B0B0B0;
  --text-color-black: #000000;
  --input-bg-light-grey: #F2F2F3; 
  --input-bg-dark-grey: #E0E0E0;
  --input-bg-white: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
    font-family: 'PP Telegraf';
    src: url('/fonts/pp-telegraf.woff') format('woff'),
         url('/fonts/pp-telegraf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* @font-face {
    font-family: 'PP Telegraf';
    src: url('/fonts/PPTelegraf-UltraBold.otf') format('otf'),
         url('/fonts/PPTelegraf-UltraBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }   */

body {
  color: rgb(var(--foreground-rgb));
  @apply font-pp-telegraf;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100%;
  margin: 0;
  overflow: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-input {
  width: 147px;
  height: 56px;
  border-radius: 6px;
  padding: 18px 16px;
  gap: 2px;
}

.custom-input::placeholder {
  color: #B0B0B0; 
  opacity: 1; 
}

.ant-form-item-control-input-content .custom-input {
  width: 100%; 
}

.borderless-input, .ant-select-selector {
  width: 100% !important; 
  height: 56px ; 
  border-radius: 6px;
  padding: 18px 16px;
  background-color: var(--input-bg-light-grey); 
  border: none; 
  outline: none; 
  transition: all 0.3s ease; 
  color: var(--text-color-grey);
}

.ant-select-selector {
  height: 56px !important; 
}

.borderless-input:hover, .ant-select-selector:hover {
  background-color: var(--input-bg-dark-grey) !important;
  color: var(--text-color-grey);
}

.borderless-input:focus-visible, .ant-select-selector:focus-visible {
  background-color: var(--input-bg-white); 
  color: var(--text-color-black);
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color-light); 
}

.borderless-input.filled, .ant-select-selector.ant-select-focused {
  background-color: var(--input-bg-dark-grey) !important;
  color: var(--text-color-black);
}

.ant-form-item-has-error .borderless-input, .ant-form-item-has-error .ant-select-selector {
  background-color: var(--input-bg-white);
  color: var(--text-color-black);
  border: 1px solid var(--error-color);
  box-shadow: 0 0 8px var(--error-color-light);
}

.custom-select .ant-select-dropdown {
  background-color: var(--input-bg-light-grey) !important;
  border-radius: 6px;
}

.custom-select .ant-select-item-option {
  background-color: var(--input-bg-light-grey);
}

.custom-select .ant-select-search-input {
  padding: 18px 16px;
  color: var(--text-color-grey);
  background-color: var(--input-bg-light-grey); 
  border: none; 
  border-radius: 6px; 
}

.rotate-45 {
  transform: rotate(45deg);
}
